<div class="modal-header">
    <label>Delete Event <i class="fa fa-pencil fa-2x" style="color:#b9def0;"></i></label>
</div>
<div class="modal-body"  style="height:150px;overflow-y:auto;overflow-x:hidden;margin:15px;padding-right:25px;" id="style-3">
<p>{{deletetext}}</p>
</div>
<div class="modal-footer">
    <button class="btn btn-default btn-sm" type="button" ng-click="canceldelete()">Cancel</button>
    <button class="btn btn-primary btn-sm" type="button" ng-click="deleteevent()">Delete</button>

</div>