<div class="card" ng-class="flipclass">
    <div class="card-front">
       <div class="row gridrow">
           <div class="col-xs-3 gridbox" data-ng-click="flipthediv()">
               <img class="imageclass" src="images/bags.jpg">
           </div>
           <div class="col-xs-3 gridbox" data-ng-click="flipthediv()">
               <img  class="imageclass" src="images/electronic.jpg">
           </div>
           <div class="col-xs-3 gridbox" data-ng-click="flipthediv()">
               <img class="imageclass" src="images/homedecor.jpg">
           </div>
           <div class="col-xs-3 gridbox" data-ng-click="flipthediv()">
               <img class="imageclass" src="images/images1.jpg">
           </div>
       </div>
        <div class="row gridrow">
            <div class="col-xs-3 gridbox" data-ng-click="flipthediv()">
                <img class="imageclass" src="images/jewells.jpg">
            </div>
            <div class="col-xs-3 gridbox" data-ng-click="flipthediv()">
                <img class="imageclass" src="images/laotop.jpg">
            </div>
            <div class="col-xs-3 gridbox" data-ng-click="flipthediv()">
                <img class="imageclass" src="images/mencasual.jpg">
            </div>
            <div class="col-xs-3 gridbox" data-ng-click="flipthediv()">
                <img class="imageclass" src="images/menshoes.jpg">
            </div>
        </div>
        <div class="row gridrow">
            <div class="col-xs-3 gridbox" data-ng-click="flipthediv()">
                <img class="imageclass" src="images/mobile.jpg">
            </div>
            <div class="col-xs-3 gridbox" data-ng-click="flipthediv()">
                <img class="imageclass" src="images/mobilecover.jpg">
            </div>
            <div class="col-xs-3 gridbox" data-ng-click="flipthediv()">
                <img class="imageclass" src="images/powerbank.jpg">
            </div>
            <div class="col-xs-3 gridbox" data-ng-click="flipthediv()">
                <img class="imageclass" src="images/saree.jpg">
            </div>
        </div>
        <div class="row gridrow">
            <div class="col-xs-3 gridbox" data-ng-click="flipthediv()">
                <img class="imageclass" src="images/shoes.jpg">
            </div>
            <div class="col-xs-3 gridbox" data-ng-click="flipthediv()">
                <img class="imageclass" src="images/tops.jpg">
            </div>
            <div class="col-xs-3 gridbox" data-ng-click="flipthediv()">
                <img class="imageclass" src="images/toys.jpg">
            </div>
            <div class="col-xs-3 gridbox" data-ng-click="flipthediv()">
                <img class="imageclass" src="images/watch.jpg">
            </div>
        </div>
    </div>
    <div class="card-back">
        <div class="row gridrow">
            <div class="col-xs-3 gridbox"></div>
            <div class="col-xs-3 gridbox"></div>
            <div class="col-xs-3 gridbox"></div>
            <div class="col-xs-3 gridbox"></div>
        </div>
        <div class="row gridrow">
            <div class="col-xs-3 gridbox"></div>
            <div class="col-xs-3 gridbox"></div>
            <div class="col-xs-3 gridbox"></div>
            <div class="col-xs-3 gridbox"></div>
        </div>
        <div class="row gridrow">
            <div class="col-xs-3 gridbox"></div>
            <div class="col-xs-3 gridbox"></div>
            <div class="col-xs-3 gridbox"></div>
            <div class="col-xs-3 gridbox"></div>
        </div>
        <div>
            <button class="btn btn-info" data-ng-click="flipbackside()">Flip Back</button>
        </div>
    </div>
</div><!-- /card -->