<div class="row" style="padding-left:15px;padding-right: 15px;">
    <form novalidate>
        <div class="row gridrow">
            <input type="text" class="form-control input-sm inputstyles" id="fname" required>
            <label for="fname">First Name</label>
        </div>
        <div class="row gridrow">
            <a ui-sref="eventreg"><button class="btn btn-info btn-sm">Event Registration</button></a>
        </div>
		<div id="tablediv">
		<div class="row">
			<div class="col-xs-6">
			<div class="col-xs-2">Search:</div>
			<div class="col-xs-4"><input id="search" type="text" class="form-control" ng-model="query" placeholder="Search in Table"/>
			</div></div>
			<div class="col-xs-3">
			<label for="file-upload" class="custom-file-upload">IMPORT EXCEL&nbsp;<span><i class="fa fa-upload"></i></span><span>{{myFile.name}}</span></label>
			<input id="file-upload" type="file" file-model="onFilesSelected"/>
			</div>
			<div class="col-xs-3">
			<button class="btn btn-success">DOWNLOAD EXCEL</button>
			</div>
		</div>
			<table class="table table-striped table-hover table-bordered">
				<thead>
					<tr>
						<th> EventName</th>
						<th>EventDescription</th>
						<th>IdEvent</th>
						<th>Country</th>
						<th><button class="btn btn-primary btn-xs" ng-click="addEvent()"><i class="fa fa-plus-circle"></i></button></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="xv in datalist |startFrom:currentpage*pagesize | limitTo:pagesize |filterBy:query" ng-mouseover="showedit($index)">
						<td>{{xv.EventName}}</td>
						<td>{{xv.Description}}</td>
						<td>{{xv.IdEvent}}</td>
						<td>{{xv.Country}}</td>
						<td class="fa fa-pencil" ng-show="showeditflag==$index" ng-click="showeditmodal(xv,$index)"></td>
						<td class="fa fa-trash-o" ng-show="showeditflag==$index" ng-click="showdeletemodal(xv,$index)"></td>
					</tr>
					<tr ng-if="dataadd">
					<td><input type="text" ng-model="saveobjectglobal.eventname"></td>
					<td><input type="text" ng-model="saveobjectglobal.description"></td>
					<td><input type="number" ng-model="saveobjectglobal.idEvent"></td>
					<td><input type="text" ng-model="saveobjectglobal.country"></td>
					<td><button class="btn btn-success btn-xs" ng-click="saveevent(saveobjectglobal)"><i class="fa fa-check-circle"></i></button></td>
					</tr>
				</tbody>
			</table>
			<button ng-disabled="currentpage == 0" ng-click="currentpage=currentpage-1">Previous</button>{{currentpage+1}}/{{numberOfpages()}}
    				<button ng-disabled="currentpage >= datalist.length/pagesize - 1" ng-click="currentpage=currentpage+1"> Next</button>
			
		</div>
    </form>
</div>