<div class="row slideInLeft">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">
                    Vertical Tab
                </div>
            </div>
            <div class="panel-body">
                <div custom-tabs="" class="panel-body">
                    <div class="row">
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            <ul class="nav nav-tabs tabs-left" id="makeclassactive">
                                <li tab-head="" id="first" class="tabclass active">First</li>
                                <li tab-head="" id="second" class="tabclass">Second</li>
                                <li tab-head="" id="third" class="tabclass">Third</li>
                            </ul>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tab-content right-side"  id="tabbodyactive">
                            <div tab-body="" id="first" class="tab-pane show">First</div>
                            <div tab-body="" id="second" class="tab-pane">Second</div>
                            <div tab-body="" id="third" class="tab-pane">Third</div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">
                    Horizontal Tab
                </div>
            </div>
            <div custom-tabs="" class="panel-body">
                <div class="row">
                    <ul class="nav nav-tabs" id="makeclassactive">
                        <li tab-head="" id="first" class="tabclass active">First</li>
                        <li tab-head="" id="second" class="tabclass">Second</li>
                        <li tab-head="" id="third" class="tabclass">Third</li>
                    </ul>
                </div>
                <div class="row tab-content" id="tabbodyactive">
                        <div tab-body="" id="first" class="tab-pane show">First</div>
                        <div tab-body="" id="second" class="tab-pane">Second</div>
                        <div tab-body="" id="third" class="tab-pane">Third</div>
                </div>

            </div>
        </div>
    </div>
</div>