<div class="row" style="border:1px solid #808080;width:100%;overflow-x:auto;overflow-y:hidden;">
        <!--<input type="text" class="form-control" ng-model="filtervalue">-->
        <ul class="list-inline scrollulheader" style="margin-left: 0px;" >
            <li class="scrolclass" style="background-color: lightgrey;"  ng-repeat="x in colval">{{x}}</li>
        </ul>
        <ul class="list-inline scrollul" ng-repeat="listdata in info | startFrom:currentpage*pagesize | limitTo:pagesize |filter:filtervalue" style="">
            <li  class="scrolclass" style="" ng-repeat="inforecur in listdata " uib-tooltip="{{inforecur}}">
                {{inforecur}}
            </li>
        </ul>
    <button ng-disabled="currentpage == 0" ng-click="currentpage=currentpage-1">
        Previous
    </button>
    {{currentpage+1}}/{{numberOfpages()}}
    <button ng-disabled="currentpage >= info.length/pagesize - 1" ng-click="currentpage=currentpage+1">
        Next
    </button>
</div>